<ion-view view-title="Turma" id="page">
    <ion-content ng-class="{expanded:$scope.isExpanded}" >
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
               
                <div class="list card">
                   <div class="item item-body">
                      <p id="plocal">Local:</p>
                      <p id="psala">Sala:</p>
                      <p id="pdisc">Disciplina:</p>             
                      <p id="pquant">Quantidade de alunos:</p>
                      <p id="phor">Horário:</p>     
                   </div> 
                </div>
            </div>
        </div>


        <h4 class="content padding double-padding-x">Discentes</h4>
        <div class="card" id="cardAlunosList0">
	</div>
	<div class="card" id="cardAlunosList1">
	</div>
	<div class="card" id="cardAlunosList2">
	</div>
    </ion-content>
</ion-view>
