<!--
	Generated template for the Horario page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Horário</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="cards-bg">
    <div *ngFor="let dia of dias">
		<ion-label class="label">{{dia}}</ion-label>
		<ion-card>
			<ion-list *ngFor="let discipline of disciplines">
				<ion-item  *ngIf="discipline.diaSemana==dia" id="item-card-custom" (click)="abrirTurma(discipline)">
					<ion-avatar item-left>          
						<img src="{{discipline.iconEscola}}">
					</ion-avatar>
					
					<h2>{{discipline.disciplina}}</h2>

					<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
				</ion-item>
			</ion-list>
		</ion-card>
	</div>
<!--
  <ion-label class="label">Terça-feira</ion-label>
	<ion-card>
		<ion-list *ngFor="let discipline of names">
			<ion-item  *ngIf="discipline.diaSemana==2" id="item-card-custom" (click)="abrirTurma(discipline)">
				<ion-avatar item-left>          
					<img src="assets/icon/bookicon.png">
				</ion-avatar>
				
				<h2>{{discipline.disciplina}}</h2>

				<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
			</ion-item>
		</ion-list>
	</ion-card>

  <ion-label class="label">Quarta-feira</ion-label>
	<ion-card>
		<ion-list *ngFor="let discipline of names">
			<ion-item  *ngIf="discipline.diaSemana==3" id="item-card-custom" (click)="abrirTurma(discipline)">
				<ion-avatar item-left>          
					<img src="assets/icon/bookicon.png">
				</ion-avatar>
				
				<h2>{{discipline.disciplina}}</h2>

				<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
			</ion-item>
		</ion-list>
	</ion-card>

<ion-label class="label">Quinta-feira</ion-label>
	<ion-card>
		<ion-list *ngFor="let discipline of names">
			<ion-item  *ngIf="discipline.diaSemana==4" id="item-card-custom" (click)="abrirTurma(discipline)">
				<ion-avatar item-left>          
					<img src="assets/icon/bookicon.png">
				</ion-avatar>
				
				<h2>{{discipline.disciplina}}</h2>

				<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
			</ion-item>
		</ion-list>
	</ion-card>		

<ion-label class="label">Sexta-feira</ion-label>
	<ion-card>
		<ion-list *ngFor="let discipline of names">
			<ion-item  *ngIf="discipline.diaSemana==5" id="item-card-custom" (click)="abrirTurma(discipline)">
				<ion-avatar item-left>          
					<img src="assets/icon/bookicon.png">
				</ion-avatar>
				
				<h2>{{discipline.disciplina}}</h2>

				<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
			</ion-item>
		</ion-list>
	</ion-card>

<ion-label class="label">Sábado</ion-label>
	<ion-card>
		<ion-list *ngFor="let discipline of names">
			<ion-item  *ngIf="discipline.diaSemana==6" id="item-card-custom" (click)="abrirTurma(discipline)">
				<ion-avatar item-left>          
					<img src="assets/icon/bookicon.png">
				</ion-avatar>
				
				<h2>{{discipline.disciplina}}</h2>

				<h4>{{discipline.inicio+ " - "+discipline.fim+" em "+ discipline.escola}}</h4>
			</ion-item>
		</ion-list>
	</ion-card>-->


 


</ion-content>
