page-turma {
 
}

.fabAzul{
 background-color: #2196F3;
}
.fabVermelha{
 background-color: #9E9E9E;
}

.badgeAprovado{
 background-color: #00E676;
}

.badgeReprovado{
 background-color: #F44336;	
}

.badgeSemResultado{
 background-color: #BDBDBD;
}