page-content {
.avatar {
  background-position: center;
  background-size: cover;
  border: solid 1px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: inline-block;
  height: 88px;
  left: auto;
  margin-bottom: 10px;
  position: relative;
  width: 88px; 

  }

  .embaixo {
    //position: absolute;
    //bottom: 0; 
    margin-top: 100%;
  }

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ion-avatar  {     
width:100% !important;  
height : 100% !important;  
max-width: 88px !important;  //any size
max-height: 88px !important; //any size
}

.teste{
    border: 2px solid;
    border-color:white;
   }

  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000 ;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #000;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;    
  }

}
     .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 200px;
    position: relative;
  }
}
