<ion-view view-title="Turma" id="page">
    <ion-content >
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
               
                <div class="list card">
                   <div class="item item-body">
                      <p>Local:</p>
                      <p>Sala:</p>
                      <p>Disciplina:</p>             
                      <p>Quantidade de alunos:</p>
                      <p>Horário:</p>     
                   </div> 
                </div>
            </div>
        </div>

        <h4 class="content padding double-padding-x">Discentes</h4>

        <div class="card">
        <md-list>
                <md-list-item>
                    <a class="item item-avatar" id="custom_item">
                        <img src="img/jon-snow.jpg">
                        <h2>Jon Snow</h2>
                        <p>jonsnow@gmail.com</p>
                        <span class="badge badge-assertive" >3.7</span>
                        <span class="item-note"> Faltas: 0  </span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="item item-avatar" id="custom_item">
                        <img src="img/arya.jpg">
                        <h2>Arya Stark</h2>
                        <p>aryaw@gmail.com</p>
                        <span class="badge badge-assertive" style="background-color: #00aa00;" >8</span>
                        <span class="item-note"> Faltas: 0  </span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="item item-avatar" id="custom_item" >
                        <img src="img/sansa.jpg">
                        <h2>Sansa Stark</h2>
                        <p>sansa@gmail.com</p>
                        <span class="badge badge-assertive" style="background-color: #00aa00;">9.3</span>
                        <span class="item-note"> Faltas: 4  </span>
                    </a>
                </md-list-item>
                <md-list-item>
    		        <a class="item item-avatar" id="custom_item">
                        <img src="img/jon-snow.jpg">
                        <h2>Jon Snow</h2>
                        <p>jonsnow@gmail.com</p>
                        <span class="badge badge-assertive" >3.7</span>
                        <span class="item-note"> Faltas: 0  </span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="item item-avatar" id="custom_item">
                        <img src="img/arya.jpg">
                        <h2>Arya Stark</h2>
                        <p>aryaw@gmail.com</p>
                        <span class="badge badge-assertive" style="background-color: #00aa00;" >8</span>
                        <span class="item-note"> Faltas: 0  </span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="item item-avatar" id="custom_item" >
                        <img src="img/sansa.jpg">
                        <h2>Sansa Stark</h2>
                        <p>sansa@gmail.com</p>
                        <span class="badge badge-assertive" style="background-color: #00aa00;">9.3</span>
                        <span class="item-note"> Faltas: 4  </span>
                    </a>
                </md-list-item>
            </div>
        </md-list>
    </ion-content>
</ion-view>
