
<ion-view view-title="Turma">
    <ion-content ng-class="{expanded:isExpanded}" id="page">
          <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <div class="list card stable-bg" id="card">
                   <div class="item item-body">
                      <p>Local:</p>
                      <p>Sala:</p>
                      <p>Disciplina:</p>             
                      <p>Quantidade de alunos:</p>
                      <p>Horário:</p>     
                   </div> 
                </div>
            </div>
         </div>   
         <h4 class="content padding double-padding-x">Discentes</h4>

            <div class="list">
              <a>
                <div class="list card stable-bg" >
                  <div class="item item-avatar" id="card">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>jonsnow@gmail.com</p>
                    <span class="badge badge-assertive" >3.7</span>
                    <span class="item-note"> Faltas: 0  </span>
                  </div>
                 </div>
               </a>
               <a>
                <div class="list card stable-bg" >
                  <div class="item item-avatar" id="card">
                    <img src="img/arya.jpg">
                    <h2>Arya Stark</h2>
                    <p>aryaw@gmail.com</p>
                    <span class="badge badge-assertive" style="background-color: #00aa00;" >8</span>
                    <span class="item-note"> Faltas: 0  </span>
                  </div>
                 </div>
               </a>
               <a>
                <div class="list card stable-bg" >
                  <div class="item item-avatar" id="card">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>sansa@gmail.com</p>
                    <span class="badge badge-assertive" style="background-color: #00aa00;">9.3</span>
                    <span class="item-note"> Faltas: 4  </span>
                  </div>
                 </div>
               </a>
               <a>
                <div class="list card stable-bg" >
                  <div class="item item-avatar" id="card">
                    <img src="img/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p></br></p>
                    <span class="badge badge-assertive">0</span>                   
                    <span class="item-note"> Faltas: 0  </span>
                  </div>
                 </div>
               </a>
            </div>
        </div>    
    
    </ion-content>
</ion-view>
